:root{
    font-family: 'Cabin', sans-serif;
    --main-light-blue: #A9B3CE;
    --main-dark-blue: #171738;
    --main-dark-grey: #474954;
    --main-light-grey: #BDBDBD;
    --main-white: #E8E8E8;
}

nav{
    background-color: var(--main-dark-blue);
    color: var(--main-white);
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    margin-right: 2rem;
}
nav ul a{
    text-decoration: none;
    color: var(--main-white);
}

body{
    margin-top: 3rem;
}

h1{
    font-weight: 700;
}


/* All Events Page */

.list-all-events {
    padding: 50px 150px;
    font-family: "Cabin", sans-serif;
}

.all-events {
    display: flex;
    gap: 5em;
}

.event {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 350px;
}

.card-img-top {
    width: 100%;
    height: 40%;
    object-fit: cover;
}

@media (min-width: 576px) {
    .card-group.card-group-scroll.all-events {
        overflow-x: auto;
        flex-wrap: nowrap;
    }
}

.card-group.card-group-scroll.all-events > .card {
    flex-basis: 25%;
    border-width: 0;
}

.details {
    position: relative;
    bottom: -50px;
    right: 0;
    background-color: var(--main-dark-grey);
    border-width: 0;
}

.card-title {
    font-weight: 700;
}

.card-text .card-date {
    color: var(--main-dark-grey);
}

.top-btn {
    text-align: center;
}

.top {
    padding: .5em 1em;
    background-color: var(--main-dark-blue);
    color: white;
    border-radius: 15%;
    position: fixed;
    bottom: 1%;
    left: 1%;
    text-decoration: none;
}


/*Angelina's CSS for view event*/

.btn-event {
    width: 20vh; 
    height:5vh;
}
.profile-div{
    overflow: auto;
    white-space: nowrap; width:90vh;
}
.profile-img{
    display: inline-block;
    height:100px;
}
.img-event{
    width:90vh;
    
}
/*End Angelina's CSS for view event*/
