:root{
    font-family: 'Cabin', sans-serif;
    --main-light-blue: #A9B3CE;
    --main-midlight-blue: #8E97B3;
    --main-medium-blue: #606583;
    --main-dark-blue: #171738;
    --main-dark-grey: #474954;
    --main-light-grey: #BDBDBD;
    --main-white: #E8E8E8;
}

nav{
    background-color: var(--main-dark-blue);
    color: var(--main-white);
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    margin-left: 2rem;
}
nav ul a{
    text-decoration: none;
    color: var(--main-white);
}

body{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1;
}

h1{
    font-weight: 700;
}


/* Hallie - All Events Page */

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--main-light-grey); 
  }

.list-all-events {
    padding: 50px 150px;
    font-family: "Cabin", sans-serif;
}

.all-events {
    display: flex;
    gap: 5em;
}

.event {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 350px;
    height: 450px;
    margin-bottom: 10px;
}

.card-img-top {
    position: relative;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.past-event {
    filter: brightness(50%);
}

.blank-event {
    filter: brightness(0%);
}

.card {
    width: 50%;
    gap: 100px;
}

/* Smallest */
@media (max-width: 999px) {
    .event {
        padding: 10px;
        border: 1px solid lightgray;
        border-radius: 10px;
        width: 175px;
        height: 250px;
        margin-bottom: 10px;
        margin-right: 100px;
    }

    .card-img-top {
        height: 75px;
    }

    .card-text {
        font-size: 8px;
    }

    .card-title {
        font-size: 12px;
    }

    .detail-btn {
        margin-bottom: -15px;
        font-size: 10px;
    }

    .card-date {
        font-size: 8px;
    }
}

/* Medium */
@media (min-width: 1000px) and (max-width: 1450px) {
    .event {
        padding: 10px;
        border: 1px solid lightgray;
        border-radius: 10px;
        width: 250px;
        height: 350px;
        margin-bottom: 10px;
        margin-right: 100px;
    }

    .card-img-top {
        height: 100px;
    }

    .card-text {
        font-size: 12px;
    }

    .detail-btn {
        margin-bottom: -15px;
        font-size: 15px;
    }

    .card-date {
        font-size: 12px;
    }
}

.card-group.card-group-scroll.all-events {
    overflow-x: auto;
    flex-wrap: nowrap;
}

.card-group.card-group-scroll.all-events > .card {
    flex-basis: 25%;
    border-width: 0;
}

.details {
    position: relative;
    bottom: -50px;
    right: 0;
    background-color: var(--main-dark-grey);
    border-width: 0;
}

.card-title {
    font-weight: 700;
}

.card-text .card-date {
    color: var(--main-dark-grey);
}

.detail-btn {
    position: absolute;
    bottom: 40px;
}

.top-btn {
    text-align: center;
}

.t-btn {
    margin: 10px;
}

.top {
    padding: .5em 1em;
    background-color: var(--main-dark-blue);
    color: white;
    border-radius: 15%;
    position: fixed;
    bottom: 1%;
    left: 1%;
    text-decoration: none;
}


/*Angelina's CSS for view event*/

.btn-event {
    width: 15vh; 
    height:5vh;
}
.profile-div{
    overflow: auto;
    white-space: nowrap; 
    width:90vh;
}
.profile-img{
    display: inline-block;
    height:100px;
}
.img-event{
    width:90vh;
    
}
.btn-class{
    margin: 10px;
}
/*End Angelina's CSS for view event*/

/* Login Page styling */

.login{
    background-color: var(--main-dark-blue);
    color: var(--main-white);
    text-align: center;
    margin: auto;
    margin-top: 20vh;
    border-radius: 1rem;
    max-width: 550px;
}
main.login{
    box-shadow: 8px 5px 10px var(--main-midlight-blue);
}

main.login h1{
    padding: 1.25rem 0rem;
}
form.login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form.login input{
    margin-bottom: 1rem;
}
.switch_login{
    padding-bottom: 1rem;
}

.switch_login a{
    color: var(--main-midlight-blue);
}

#email, #username, #password{
    border-radius: 8px;
    border-color: var(--main-midlight-blue);
    border-style:solid;
    border-width: 2px;
    height: 2rem;
    width: 70%;
}
#email:focus, #username:focus, #password:focus{
    outline-color: var(--main-dark-blue);
}

#submit{
    background-color: var(--main-midlight-blue);
    color: var(--main-white);
    border-radius: 8px;
    border-style: none;
    font-weight: 700;
    padding: .3rem 1rem
}
#submit:active{
    background-color: var(--main-medium-blue);
}

form p.wrong{
    color: red;
    margin-bottom: 5px;
}

form p{
    text-align: start;
    font-size: small;
    margin-bottom: 0;
}
.login-page{
    background-image: linear-gradient(to right, var(--main-midlight-blue), var(--main-white),var(--main-midlight-blue));
}

/*Gwen's hero image css*/
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("calendar_banner_test.jpeg");
  
    height: 150px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .btn-create {
    background-color: var(--main-dark-blue);
    font-family: "Cabin", sans-serif;
    color: white;
  }

  .border-create {
    border-color: var(--main-dark-blue);
  }
  /*End*/

  /*Kiana's CSS*/
  .banner{
    background-image: linear-gradient(to right, var(--main-dark-blue), var(--main-medium-blue),var(--main-dark-blue));
    height: 5rem;
    color: var(--main-white);
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    font-size: 2em;
    text-align: center;
    padding: 1rem;
  }
  .main_text{
    text-align: center;
    font-family: "Cabin", sans-serif;
    padding: 1rem;
  }
  .container_faq{
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    
  }
  
  .buttons_faq{
    background-color: var(--main-medium-blue);
    box-shadow: 0 5px 10px 0 rgba(17,12, 46 , 0.8) ;
    color: var(--main-white);
    font-family: "Cabin", sans-serif;
    font-size: 1.5rem;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    height: 250px;
    width: 290px;
    justify-content: center;
  }
  .container_faq button:hover{
    background-color: var(--main-light-grey);
  }
  .accordion{
    padding: 0.5rem;
  }
 .image_icon{
    display: flex;
    font-family: "Cabin", sans-serif;
    text-decoration: underline;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
 }
 .faq_backbtn{
    text-decoration: none;
    font-family: "Cabin", sans-serif;
    color: var(--main-dark-blue);
    border: transparent;
 }
 .faq_backbtn:hover{
    color: var(--main-medium-blue);
    text-decoration: underline;  
 }

 .about{
    font-family: "Cabin", sans-serif;
    text-align: center;
    
 }
 .about h3{
    text-decoration: underline;
 }
 .about_container{
    font-family: "Cabin", sans-serif;
    display: flex;
    flex-direction: column;
 }
 .about_container + p{
    font-family: 'Cabin', sans-serif;
    font-size: 0.9rem;
 }
 p a{
    text-decoration: none;
    color: black;
 }
 p a:hover{
    text-decoration: underline;
 }
.accordion{
    --bs-accordion-btn-focus-border-color: var(--main-dark-blue);
    --bs-accordion-active-bg:var(--main-dark-blue);
    --bs-accordion-active-color:var(--main-white);
    --bs-accordion-btn-icon:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='gray'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
    --bs-accordion-btn-active-icon:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='gray'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
    font-family: 'Cabin', sans-serif;
    

}
  /*End*/

/* Map Page Styling */
#mapid {
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    z-index: 1;
}

/* Footer Styling */
footer {
    background-color: var(--main-dark-blue);
    color: white;
    text-align: center;
    padding: 1rem;
}
footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
footer ul li a:link{
    text-decoration: none;
    color: var(--main-white);
}
footer ul li a:visited{
    text-decoration: none;
    color: var(--main-white);
}
footer ul li a:hover{
    text-decoration: underline;
    color: var(--main-light-grey);
}
footer ul li:last-child{
    font-size: small;
}
