<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap" rel="stylesheet">
    {% block head %}{% endblock %}

   
    
    
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% if in_session %}
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/map">Map</a></li>
            <!--Login should be "Profile" when logged in, so We'll need to create that feature at some point"-->
            <li><a href="/create">Create Event</a></li>
            <li><a href="/groups">Groups</a></li>
            <li class="right"><a href="/profile">Profile</a></li>
        </ul>
    </nav>
    {% else %}
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li class="right"><a href="/login">Login</a></li>
        </ul>
    </nav>
    {% endif %}
    <main>
    {% block body %}{% endblock %}
    </main>
    {% block footer %}
    <footer>
        <ul>
            <li><a href="/about">About Us</a></li>
            <li><a href="/FAQ">Frequently Asked Questions</a></li>
            <li>© 2023 - All Rights Reserved</li>
    </footer>
    {% endblock %}
    <script>
        //Test if image loads
        image_test =document.getElementsByClassName("image_test");
        
        for (var i = 0; i < image_test.length; i++) {
            if (typeof  image_test[i].naturalWidth == "undefined" || image_test[i].naturalWidth == 0) {
          image_test[i].src = "/static/404.jpg";
          }
        }
        
        
        </script>
</body>
</html>