{% extends '_layout.html' %}

{% block title %}About FAQ{% endblock %}

{% block body %}
<main>
    <div class="banner">FAQ</div>
    <a class="faq_backbtn" href="/FAQ">&#x2190 Main FAQ Page</a>
    <div class="image_icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
            class="bi bi-person-circle1" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </svg>
        <h2>Account</h2>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="false" aria-controls="collapseOne">
                    What if I no longer have access to the email associated with my account?
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapsed" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    That's okay! You only need your username and password to log in. All you need to do is update your
                    email in the account settings.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    If I have trouble logging in, what should I do?
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    First, make sure you entered your username and password in correctly. If you are still having
                    trouble, <a href="/about">please contact us</a>.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Can I change my username?
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Yes. To change your username, go to your account settings and change your username to the one you
                    would like.
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}