{% extends '_layout.html' %}

{% block title %}Edit Group{% endblock %}

{% block body %}

<div class="hero-image">
  <div class="hero-text">
    <h1>Edit group - {{title}}</h1>
  </div>
</div>

<div class="container mt-5">
    <form action="/group/{{id}}" method="post">
      <div class="row">
        <div class="col">
          <div class="mb-5">
            <label for="title" class="form-label">Title</label>
            <input class="form-control border-create" name="title" id="title" placeholder="Update event title" required>
          </div>
        <div class="mb-5">
            <label for="description">Description</label>
            <textarea class="form-control border-create" name="description" id="description" rows="5" required></textarea>
          </div>
         <!--Tags-->
         <h6>Tags</h6>
         <div class="list-group mb-5">
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" name="music" id="music">
            Music
          </label>
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" name="sports" id="sports">
            Sports
          </label>
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" name="gaming" id="gaming">
            Gaming
          </label>
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" name="tech" id="tech">
            Tech
          </label>
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" name="crafts" id="crafts">
            Crafts
          </label>
        </div> 
        
        </div>
        <div class="col">

          <div class="row">
            <div class="col">
              <div class="mb-5">
                <label for="date" class="form-label">Date</label>
                <input type="date" class="form-control border-create" name='date' id="date" required>
              </div>
            </div>
            <div class="col">
              <div class="mb-5">
                <label for="time" class="form-label">Time</label>
                <input type="time" class="form-control border-create" name='time' id="time" required>
              </div>
            </div>
          </div>
          
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input class="form-control border-create" name="location" id="location" placeholder="Enter physical address or online URL" required>
          </div>
          <div class="mb-5">
            <label for="image" class="form-label">Image Link</label>
            <input type="text" class="form-control border-create" name="link" id="link" placeholder="Enter image url">
          </div>
          <div class="mb-5">
            <label class='form-check-label' for="public">Public?</label>
            <input class='form-check-input' type="checkbox" name="public" id="public">
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-create mb-5"  style="width: 100%">Save Changes</button>
    </form>
</div>
{% endblock %}