{% extends '_layout.html' %}

{% block title %}Group{% endblock %}

{% block body %}


<div class="container-fluid">
    <div class="d-flex">
        <div class="col flex-item d-flex  flex-column gap-3 " > <!--Left column-->
            
                <img src="{{group_data.image_link}}" alt="Data for class"   class="rounded image_test img-event"> 
           
            <!----->
            <div class="d-flex align-items-start justify-content-center ">

              <form action="/group/{{group_data.group_id}}/join" method="get">
                <button type="submit" class="btn btn-secondary btn-event btn-class" >
                    Join
                </button>
              </form>

                  <div class="dropdown btn-class">
                    <button class="btn btn-event btn-secondary dropdown-toggle" type="button"   data-bs-toggle="dropdown" >
                      Share
                    </button>
                    <ul class="dropdown-menu" >
                      <li class="dropdown-item" id ="link">error</li> <!--Get link from DB-->
                    </ul>
                    
                  </div>

                  <div class="dropdown btn-class">
                    <button class="btn btn-secondary dropdown-toggle btn-event" type="button"  data-bs-toggle="dropdown" >
                      Edit
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/event/edit">Edit</a></li> 
                      <li><a class="dropdown-item" href="/delete/group/{{group_data.group_id}}">delete</a></li> 
                      
                    </ul>
                  </div>
                

            </div>
            <div class="d-flex justify-content-around">
               <!--Will be converted once DB is done  event_friends--> 
                <span  class="h2">Members</span>
                
                
            </div> 
            <table>
              <th>Username</th>
              <th>Image</th>
                {%for member in members %}
                    <tr>
                      <td>{{member.username}}</td>
                      <td><img src="{{member.profile_img}}"  class="rounded-circle profile-img" alt="Place holder" > </td>
                    </tr>                                              
                {%endfor%}
            </table>
        </div>

        <div class="col flex-item flex" > <!--Right column-->
            <h1> {{group_data.title}}</h1>
           
            <p> {{group_data.description}}</p>

            {% for tag in group_data.tags %}
            <button type="button" class="btn btn-tags btn-secondary btn-lg">{{ tag }}</button>
             
            {% endfor %}
            
        </div>
    </div>
</div>


{% endblock %}