{% extends '_layout.html' %}

{% block title %}Home | All Events{% endblock %}

{% block body %}

<div class="hero-image">
    <div class="hero-text">
      <h1>Events</h1>
    </div>
</div>

<section class="list-all-events">
    
    <div class="top-btn">
        <a href="#events-all"><button class="details btn btn-primary">All Events</button></a>
        <a href="#upcoming-events"><button class="details btn btn-primary">Upcoming Events</button></a>
        <a href="#past-events"><button class="details btn btn-primary">Past Events</button></a>
        <a href="#cool-events"><button class="details btn btn-primary">Cool Events</button></a>
        <a href="#sports-events"><button class="details btn btn-primary">Sports Events</button></a>
    </div>

    <div style="margin-top: 100px;"></div>

    <form action="/events/search" method="get">
        <div class="input-group">
            <input type="text" placeholder="Search Events" name="q" id="q" class="form-control" autocomplete="off">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>

    <p id="events-all" style="color: white;">_</p>
    <p style="color: white;">_</p>

    <h1>All Events</h1>

    <div class="all-events card-group card-group-scroll">
    {% for event in events %}
        <div class="card">
            <div class="event">
                <img style="border-radius: 10px 10px 0px 0px;" src="{{ event.image_link }}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title all-events-cards">{{ event.title }}</h5>
                <p class="card-text all-events-cards">{{ event.description }}</p>
                <h6 class="card-date all-events-cards">{{ event.date }} {{ event.time }}</h6>
                <form action="/event/{{ event.event_id }}" method="get">
                    <button class="detail-btn btn btn-primary" type="submit">Details</button>
                </form>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <div style="margin-top: 100px;"></div>

    <p id="upcoming-events" style="color: white;">_</p>
    <p style="color: white;">_</p>

    <h1>Upcoming Events</h1>

    <div class="all-events card-group card-group-scroll">
    {% for event in events %}
        {% if today < event.date %}
        <div class="card">
            <div class="event">
                <img style="border-radius: 10px 10px 0px 0px;" src="{{ event.image_link }}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title all-events-cards">{{ event.title }}</h5>
                <p class="card-text all-events-cards">{{ event.description }}</p>
                <h6 class="card-date all-events-cards">{{ event.date }} {{ event.time }}</h6>
                <form action="/event/{{ event.event_id }}" method="get">
                    <button class="detail-btn btn btn-primary" type="submit">Details</button>
                </form>
                </div>
            </div>
        </div>
        {% else %}
        <div class="card">
            <div class="event">
                <img style="border-radius: 10px 10px 0px 0px;" src="../static/test.jpeg" class="card-img-top blank-event" alt="...">
                <div class="card-body">
                <h5 class="card-title all-events-cards">Coming Soon!</h5>
                <p class="card-text all-events-cards">Stay tuned for a new upcoming event or make your own!</p>
                <h6 class="card-date all-events-cards"> </h6>
                <form action="/create" method="get">
                    <button class="detail-btn btn btn-primary" type="submit">Create Event</button>
                </form>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>

    <div style="margin-top: 100px;"></div>

    <p id="past-events" style="color: white;">_</p>
    <p style="color: white;">_</p>

    <h1>Past Events</h1>

    <div class="all-events card-group card-group-scroll">
    {% for event in events %}
        {% if today > event.date %}
        <div class="card">
            <div class="event">
                <img style="border-radius: 10px 10px 0px 0px;" src="{{ event.image_link }}" class="card-img-top past-event" alt="...">
                <div class="card-body">
                <h5 class="card-title all-events-cards">{{ event.title }}</h5>
                <p class="card-text all-events-cards">{{ event.description }}</p>
                <h6 class="card-date all-events-cards">{{ event.date }} {{ event.time }}</h6>
                <form action="/event/{{ event.event_id }}" method="get">
                    <button class="detail-btn btn btn-primary" type="submit">View</button>
                </form>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>

    <div style="margin-top: 100px;"></div>

    <p id="cool-events" style="color: white;">_</p>
    <p style="color: white;">_</p>

    <h1>Cool Events</h1>

    <div class="all-events card-group card-group-scroll">
    {% for event in events %}
        {% for tag in event.tags %}
            {% if tag == 'cool' %}
                <div class="card">
                    <div class="event">
                        <img style="border-radius: 10px 10px 0px 0px;" src="{{ event.image_link }}" class="card-img-top past-event" alt="...">
                        <div class="card-body">
                        <h5 class="card-title all-events-cards">{{ event.title }}</h5>
                        <p class="card-text all-events-cards">{{ event.description }}</p>
                        <h6 class="card-date all-events-cards">{{ event.date }} {{ event.time }}</h6>
                        <form action="/event/{{ event.event_id }}" method="get">
                            <button class="detail-btn btn btn-primary" type="submit">View</button>
                        </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </div>

    <div style="margin-top: 100px;"></div>

    <p id="sports-events" style="color: white;">_</p>
    <p style="color: white;">_</p>

    <h1>Sports Events</h1>

    <div class="all-events card-group card-group-scroll">
    {% for event in events %}
        {% for tag in event.tags %}
            {% if tag == 'sports' %}
                <div class="card">
                    <div class="event">
                        <img style="border-radius: 10px 10px 0px 0px;" src="{{ event.image_link }}" class="card-img-top past-event" alt="...">
                        <div class="card-body">
                        <h5 class="card-title all-events-cards">{{ event.title }}</h5>
                        <p class="card-text all-events-cards">{{ event.description }}</p>
                        <h6 class="card-date all-events-cards">{{ event.date }} {{ event.time }}</h6>
                        <form action="/event/{{ event.event_id }}" method="get">
                            <button class="detail-btn btn btn-primary" type="submit">View</button>
                        </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <div class="card">
        <div class="event">
            <img style="border-radius: 10px 10px 0px 0px;" src="../static/test.jpeg" class="card-img-top blank-event" alt="...">
            <div class="card-body">
            <h5 class="card-title all-events-cards">Coming Soon!</h5>
            <p class="card-text all-events-cards">Stay tuned for a new upcoming event or make your own!</p>
            <h6 class="card-date all-events-cards"> </h6>
            <form action="/create" method="get">
                <button class="detail-btn btn btn-primary" type="submit">Create Event</button>
            </form>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="event">
            <img style="border-radius: 10px 10px 0px 0px;" src="../static/test.jpeg" class="card-img-top blank-event" alt="...">
            <div class="card-body">
            <h5 class="card-title all-events-cards">Coming Soon!</h5>
            <p class="card-text all-events-cards">Stay tuned for a new upcoming event or make your own!</p>
            <h6 class="card-date all-events-cards"> </h6>
            <form action="/create" method="get">
                <button class="detail-btn btn btn-primary" type="submit">Create Event</button>
            </form>
            </div>
        </div>
    </div>
    </div>

    <div style="margin-top: 500px;"></div>

    <a href="#" style="text-decoration: none;"><div class="top">⤒</div></a>


</section>
{% endblock %}