{% extends '_layout.html' %}

{% block title %}Home | All Events{% endblock %}

{% block body %}

<div class="hero-image">
    <div class="hero-text">
      <h1>Events</h1>
    </div>
</div>

<section class="list-all-events">
        
    <div class="top-btn">
        <a href="#upcoming-events"><button class="t-btn details btn btn-primary">Upcoming Events</button></a>
        <a href="#music-events"><button class="t-btn details btn btn-primary">Music Events</button></a>
        <a href="#sports-events"><button class="t-btn details btn btn-primary">Sports Events</button></a>
        <a href="#gaming-events"><button class="t-btn details btn btn-primary">Gaming Events</button></a>
        <a href="#tech-events"><button class="t-btn details btn btn-primary">Tech Events</button></a>
        <a href="#crafts-events"><button class="t-btn details btn btn-primary">Crafts Events</button></a>
        <a href="#past-events"><button class="t-btn details btn btn-primary">Past Events</button></a>
    </div>

    <div style="margin-top: 100px;"></div>

    <form action="/events/search" method="get">
        <div class="input-group">
            <input type="text" placeholder="Search Events" name="q" id="q" class="form-control" autocomplete="off">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>

    <p id="upcoming-events" style="color: white;">_</p>
    <p style="color: white;">_</p>

    <h1>Upcoming Events</h1>

    <div class="all-events card-group card-group-scroll">
            {% for event in events %}
                {% if today <= event.date %}
                    <div class="card">
                        <div class="event">
                            <img style="border-radius: 10px 10px 0px 0px;" src="{{ event.image_link }}" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">{{ event.title }}</h5>
                            <p class="card-text">{{ event.description }}</p>
                            <h6 class="card-date">{{ event.date.strftime('%B %dth, %Y') }}</h6>
                            <h6 class="card-date">{{ event.date.strftime('%I:%M%p') }}</h6>
                            <form action="/event/{{ event.event_id }}" method="get">
                                <button class="detail-btn btn btn-primary" type="submit">Details</button>
                            </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="card">
                <div class="event">
                    <img style="border-radius: 10px 10px 0px 0px;" src="../static/upcoming-event.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Coming Soon!</h5>
                    <p class="card-text">Stay tuned for a new upcoming event or make your own!</p>
                    <h6 class="card-date"> </h6>
                    <form action="/create" method="get">
                        <button class="detail-btn btn btn-primary" type="submit">Create Event</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>

    <div style="margin-top: 100px;"></div>

    <p id="music-events" style="color: white;">_</p>
    <p style="color: white;">_</p>

    <h1>Upcoming Music Events</h1>

    <div class="all-events card-group card-group-scroll">
        {% for event in events %}
            {% if today <= event.date %}
                {% for tag in event.tags %}
                    {% if tag == 'music' %}
                        <div class="card">
                            <div class="event">
                                <img style="border-radius: 10px 10px 0px 0px;" src="{{ event.image_link }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5 class="card-title">{{ event.title }}</h5>
                                <p class="card-text">{{ event.description }}</p>
                                <h6 class="card-date">{{ event.date.strftime('%B %dth, %Y') }}</h6>
                                <h6 class="card-date">{{ event.date.strftime('%I:%M%p') }}</h6>
                                <form action="/event/{{ event.event_id }}" method="get">
                                    <button class="detail-btn btn btn-primary" type="submit">Details</button>
                                </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
            <div class="card">
                <div class="event">
                    <img style="border-radius: 10px 10px 0px 0px;" src="../static/music-event.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Coming Soon!</h5>
                    <p class="card-text">Stay tuned for a new upcoming music event or make your own!</p>
                    <h6 class="card-date"> </h6>
                    <form action="/create" method="get">
                        <button class="detail-btn btn btn-primary" type="submit">Create Event</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>

    <div style="margin-top: 100px;"></div>

    <p id="sports-events" style="color: white;">_</p>
    <p style="color: white;">_</p>

    <h1>Upcoming Sports Events</h1>

    <div class="all-events card-group card-group-scroll">
        {% for event in events %}
            {% if today <= event.date %}
                {% for tag in event.tags %}
                    {% if tag == 'sports' %}
                        <div class="card">
                            <div class="event">
                                <img style="border-radius: 10px 10px 0px 0px;" src="{{ event.image_link }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5 class="card-title">{{ event.title }}</h5>
                                <p class="card-text">{{ event.description }}</p>
                                <h6 class="card-date">{{ event.date.strftime('%B %dth, %Y') }}</h6>
                                <h6 class="card-date">{{ event.date.strftime('%I:%M%p') }}</h6>
                                <form action="/event/{{ event.event_id }}" method="get">
                                    <button class="detail-btn btn btn-primary" type="submit">Details</button>
                                </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
            <div class="card">
                <div class="event">
                    <img style="border-radius: 10px 10px 0px 0px;" src="../static/sports-event.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Coming Soon!</h5>
                    <p class="card-text">Stay tuned for a new upcoming sports event or make your own!</p>
                    <h6 class="card-date"> </h6>
                    <form action="/create" method="get">
                        <button class="detail-btn btn btn-primary" type="submit">Create Event</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>

    <div style="margin-top: 100px;"></div>

    <p id="gaming-events" style="color: white;">_</p>
    <p style="color: white;">_</p>

    <h1>Upcoming Gaming Events</h1>

    <div class="all-events card-group card-group-scroll">
        {% for event in events %}
            {% if today <= event.date %}
                {% for tag in event.tags %}
                    {% if tag == 'gaming' %}
                        <div class="card">
                            <div class="event">
                                <img style="border-radius: 10px 10px 0px 0px;" src="{{ event.image_link }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5 class="card-title">{{ event.title }}</h5>
                                <p class="card-text">{{ event.description }}</p>
                                <h6 class="card-date">{{ event.date.strftime('%B %dth, %Y') }}</h6>
                                <h6 class="card-date">{{ event.date.strftime('%I:%M%p') }}</h6>
                                <form action="/event/{{ event.event_id }}" method="get">
                                    <button class="detail-btn btn btn-primary" type="submit">Details</button>
                                </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
            <div class="card">
                <div class="event">
                    <img style="border-radius: 10px 10px 0px 0px;" src="../static/gaming-event.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Coming Soon!</h5>
                    <p class="card-text">Stay tuned for a new upcoming gaming event or make your own!</p>
                    <h6 class="card-date"> </h6>
                    <form action="/create" method="get">
                        <button class="detail-btn btn btn-primary" type="submit">Create Event</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>

    <div style="margin-top: 100px;"></div>

    <p id="tech-events" style="color: white;">_</p>
    <p style="color: white;">_</p>

    <h1>Upcoming Tech Events</h1>

    <div class="all-events card-group card-group-scroll">
        {% for event in events %}
            {% if today <= event.date %}
                {% for tag in event.tags %}
                    {% if tag == 'tech' %}
                        <div class="card">
                            <div class="event">
                                <img style="border-radius: 10px 10px 0px 0px;" src="{{ event.image_link }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5 class="card-title">{{ event.title }}</h5>
                                <p class="card-text">{{ event.description }}</p>
                                <h6 class="card-date">{{ event.date.strftime('%B %dth, %Y') }}</h6>
                                <h6 class="card-date">{{ event.date.strftime('%I:%M%p') }}</h6>
                                <form action="/event/{{ event.event_id }}" method="get">
                                    <button class="detail-btn btn btn-primary" type="submit">Details</button>
                                </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
            <div class="card">
                <div class="event">
                    <img style="border-radius: 10px 10px 0px 0px;" src="../static/tech-event.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Coming Soon!</h5>
                    <p class="card-text">Stay tuned for a new upcoming tech event or make your own!</p>
                    <h6 class="card-date"> </h6>
                    <form action="/create" method="get">
                        <button class="detail-btn btn btn-primary" type="submit">Create Event</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>

    <div style="margin-top: 100px;"></div>

    <p id="crafts-events" style="color: white;">_</p>
    <p style="color: white;">_</p>

    <h1>Upcoming Crafts Events</h1>

    <div class="all-events card-group card-group-scroll">
        {% for event in events %}
            {% if today <= event.date %}
                {% for tag in event.tags %}
                    {% if tag == 'crafts' %}
                        <div class="card">
                            <div class="event">
                                <img style="border-radius: 10px 10px 0px 0px;" src="{{ event.image_link }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5 class="card-title">{{ event.title }}</h5>
                                <p class="card-text">{{ event.description }}</p>
                                <h6 class="card-date">{{ event.date.strftime('%B %dth, %Y') }}</h6>
                                <h6 class="card-date">{{ event.date.strftime('%I:%M%p') }}</h6>
                                <form action="/event/{{ event.event_id }}" method="get">
                                    <button class="detail-btn btn btn-primary" type="submit">Details</button>
                                </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
            <div class="card">
                <div class="event">
                    <img style="border-radius: 10px 10px 0px 0px;" src="../static/crafts-event.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Coming Soon!</h5>
                    <p class="card-text">Stay tuned for a new upcoming crafts event or make your own!</p>
                    <h6 class="card-date"> </h6>
                    <form action="/create" method="get">
                        <button class="detail-btn btn btn-primary" type="submit">Create Event</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>

    <div style="margin-top: 100px;"></div>    
    
    <p id="past-events" style="color: white;">_</p>
    <p style="color: white;">_</p>

    <h1>Past Events</h1>

    <div class="all-events card-group card-group-scroll">
        {% if events %}
            {% for event in events %}
                {% if today > event.date %}
                    <div class="card">
                        <div class="event">
                            <img style="border-radius: 10px 10px 0px 0px;" src="{{ event.image_link }}" class="past-event card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">{{ event.title }}</h5>
                            <p class="card-text">{{ event.description }}</p>
                            <h6 class="card-date">{{ event.date.strftime('%B %dth, %Y') }}</h6>
                            <h6 class="card-date">{{ event.date.strftime('%I:%M%p') }}</h6>
                            <form action="/event/{{ event.event_id }}" method="get">
                                <button class="detail-btn btn btn-primary" type="submit">View</button>
                            </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No past events!</p>
        {% endif %}
        </div>

    <div style="margin-top: 500px;"></div>

    <a href="#" style="text-decoration: none;"><div class="top">⤒</div></a>


</section>
{% endblock %}