{% extends '_layout.html' %}

{% block title %}Event page{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="d-flex">
        <div class="col flex-item d-flex  flex-column gap-3 " > <!--Left column-->
            <div>
                <img src="/static/test.jpeg" alt="Data for class" width="900" height="600" class="rounded"> <!--Add more dynmic sizing later-->
            </div>
            <!----->
            <div class="d-flex align-items-start justify-content-around">

                <button type="button" class="btn btn-secondary btn-event" >Attend</button>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle btn-event" type="button"  data-bs-toggle="dropdown" >
                      Invite Friends
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Example Name</a></li> <!--Get friends from DB-->
                      
                    </ul>
                  </div>
                  <div class="dropdown">
                    <button class="btn btn-event btn-secondary dropdown-toggle" type="button"   data-bs-toggle="dropdown" >
                      Share
                    </button>
                    <ul class="dropdown-menu" >
                      <li><a class="dropdown-item" href="#">link</a></li> <!--Get link from DB-->
                    </ul>
                  </div>
                
            </div>
            <div class="d-flex justify-content-around">
                <span  class="h2">Group: Test name</span><!--Will be converted once DB is done--> 
                <span  class="h2"> Friends attending</span>
            </div>
            <div  class="profile-div">
                <img src="/static/test.jpeg"  class="rounded-circle profile-img" alt="Place holder"  height="100"> 
                <img src="/static/test.jpeg" class="rounded-circle" alt="Place holder"  height="100"> 
                <img src="/static/test.jpeg"  class="rounded-circle" alt="Place holder"  height="100">
            </div>
            
        </div>

        <div class="col flex-item flex" > <!--Right column-->
            <h1> Insert event name</h1>
            <div class="d-flex align-items-start justify-content-around">
                <p  class="text-muted">Insert date</p>
                <p  class="text-muted">Insert time</p>
            </div>   
            <p> Example text</p>
            
        </div>
    </div>
</div>

{% endblock %}