{% extends '_layout.html' %}

{% block title %}Event page{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="d-flex">
        <div class="col flex-item d-flex  flex-column gap-3 " > <!--Left column-->
            
                <img src="{{event_data.image_link}}" alt="Data for class"   class="rounded img-event"> 
           
            <!----->
            <div class="d-flex align-items-start justify-content-center ">

                <button type="button" class="btn btn-secondary btn-event btn-class" >Attend</button>
                
                  <div class="dropdown btn-class">
                    <button class="btn btn-event btn-secondary dropdown-toggle" type="button"   data-bs-toggle="dropdown" >
                      Share
                    </button>
                    <ul class="dropdown-menu" >
                      <li class="dropdown-item" id ="link">error</li> <!--Get link from DB-->
                    </ul>
                    
                  </div>
                  {% if owner %}
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle btn-event" type="button"  data-bs-toggle="dropdown" >
                      Edit
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/event/{{event_data.event_id}}/edit">Edit</a></li> 
                      <li><a class="dropdown-item" href="/delete/{{event_data.event_id}}">delete</a></li> 
                      
                    </ul>
                  </div>
                  {%endif%}
                

            </div>
            <div class="d-flex justify-content-around">
               <!--Will be converted once DB is done  event_friends--> 
                <span  class="h2"> Friends attending</span>
                
            </div> 
            {%for x in event_friends %}
            <div  class="profile-div">
                <img src="{{x.profile_img}}"  class="rounded-circle profile-img" alt="Place holder" > 
              
            </div>
            {%endfor%}
            
        </div>

        <div class="col flex-item flex" > <!--Right column-->
            <h1> {{event_data.title}}</h1>
            <div class="d-flex align-items-start justify-content-around">
                <p  class="text-muted">{{event_data.date}}</p>
                <p  class="text-muted">{{event_data.time}}</p>
            </div>   
            <p> {{event_data.description}}</p>
            
        </div>
    </div>
</div>
<script>
    
  var currentURL = window.location.href;
  document.getElementById("link").textContent =  currentURL;

  
  
</script>

{% endblock %}