{% extends 'profile_sections/base_profile.html' %}



{% block left_column %}
<!--<div class="p-4 offcanvas-parent flex-fill" id="content" style="position: relative;">
    <div class="offcanvas offcanvas-start" data-bs-backdrop="false"  tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel" style="position:absolute; height:100%">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">-->
            
        {% block user_info %}
            <!--<div class="p-2">
                <img id="friend_image" src="{{profile_img}}" style="width: 100%;">
                <p class="text-center" id="friend_username">@{{username}}</p>
             </div>-->
             <div class="p-2" style="margin:10px;">
                <img src="{{profile_img}}" style="width: 100%;">
                <p class="text-center">@{{username}}</p>
            </div>
       
        {% endblock user_info %}
        {% block button_area %}
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link pro-nav" href="/profile">Profile</a>
            </li>
            <li class="nav-item pro-nav">
                <a class="nav-link pro-nav" href="/settings">Settings</a>
            </li>
            <form action="/logout" method="post">
                <button type="submit" class="nav-link pro-nav">Logout</button>
            </form>
        </ul>    
        {% endblock button_area %}        
        
    
{% endblock left_column %}

{% block content %}
    <table class="table table-striped table-hover align-middle">
        <thead>
            <tr>
                <th style="width: auto;">Friend</th>
                <th style="width: 80%;"></th>
                <!--<th style="width: 20%; min-width: 90px;">Level</th>-->
                <th style="width: auto;"></th>
            </tr>
        </thead>
        <tbody>
            {% for friend in friend_list %}
            <tr class="clickable" onclick="window.location='/users/{{friend.user_id}}'">

                <td>
                    <img src="{{friend.profile_img}}" style="width:45px;height:45px;">
                </td>
                <td>
                    <div>
                        <h6 class="text-left" style="margin-bottom: 0px;">@{{friend.username}}</h6>
                    </div>
                </td>

                <td>
                    <div class="dropdown">
                        <button class="btn" type="button" id="friendOptions" data-bs-toggle="dropdown" aria-expanded="false" style="justify-content: right;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                            </svg>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="friendOptions">
                          <li><button class="dropdown-item" type="button">Remove Friend</button></li>
                          <li><button class="dropdown-item" type="button">Block</button></li>
                          <li><button class="dropdown-item" type="button">Report</button></li>
                        </ul>
                      </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}