{% extends 'profile_sections/base_profile.html' %}


{% block user_info %}
<div class="p-2" style="margin:10px;">
    <img src="{{profile_img}}" style="width: 100%;">
    <p class="text-center">@{{username}}</p>
</div>
{% endblock user_info %}

{% block button_area %}
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link pro-nav" href="/profile">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link pro-nav" href="/friends">Friends</a>
    </li>
    <li class="nav-item">
        <form action="/logout" method="post">
            <button type="submit" class="btn btn-sm pro-nav">Logout</button>
        </form>
    </li>
</ul>
{% endblock %}


{% block content %}
<h1>Settings</h1>
<form action="/settings/update" method="post">
    <div class="custom-file">
        <img src="{{profile_img}}" style="width: 50px;">
        <input type="file" class="custom-file-input"id="profile-image">
        <label class="custom-file-label" for="profile-image"></label>
        <div class=""></div>
    </div>
    <br>
    <div class="col-md-4 mb-3">
        <label for="p_username">Username</label>
        <input type="text" class="form-control" id="p_username" value="{{username}}" required>
    </div>
    <div class="col-md-4 mb-3">
        <label for="p_bio">Bio</label>
        <input type="textarea" class="form-control" id="p_bio"value="{{bio}}" required>
    </div>
    <button type="submit"  class="btn btn-primary">Update Profile</button>
</form>

{% endblock %}